/*Custom Fonts*/
@font-face {
    font-family: 'CastledownHeavy';
    src: url('../fonts/woff2/castledown-heavy.woff2') format('woff2'),
        url('../fonts/woff/castledown-heavy.woff') format('woff'),
        url('../fonts/tff/castledown-heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'CastledownRegular';
    src: url('../fonts/woff2/castledown-bold.woff2') format('woff2'),
        url('../fonts/woff/castledown-bold.woff') format('woff'),
        url('../fonts/tff/castledown-bold.ttf') format('truetype');
}

h1 {
    font-family: 'CastledownHeavy';
    font-size: 60px !important;
}

h2 {
    font-family: 'CastledownHeavy';
    font-size: 30px !important;
}

.promotions > p {
 font-family: 'CastledownHeavy';
    font-size: 22px ;
}


.header {
    background-color: #ffffff;
}



@media (max-width: 768px) {

    html,
    body {
        width: auto !important;
        overflow-x: hidden !important;
    }

    .card {
        margin-bottom: 30px;
        width: 50%;
    }

    h1 {
        font-size: 36px !important;
    }

    .promotions > p {
        font-family: 'CastledownHeavy';
        font-size: 18px;
    }

}

.navbar {
    background-color: #ffffff;
    
    border-bottom: 1px solid #d1d3d3;
}


nav .navbar-nav li a{
  color: black !important;
    font-family: 'CastledownRegular';
}

.navbar-brand{
  color: black !important;
    font-family: 'CastledownHeavy';
}


.card {
    width: 100%;
}

.animated {
    width: 100%
}


.whiteiconcolor {color:white;}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.overlay-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;


    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    height: 50px;
}



.footer {
    background-color: #1be7ff;
    color: aliceblue
}

a {
    text-decoration: none !important;
    color: aliceblue;
    display: inline-block;
}

.box {
    width: 100%;
}

.btn {
    font-family: 'CastledownRegular';
    transition: all 0.3s ease 0s;
    border-radius: 40px !important;
    width: 30%;
    margin-bottom: 20px;
    margin-top: 20px;
}


.gradeBrowse {
    background-color: #f8f8ff;
    padding-top: 20px;
}

.gradeContainer {
    
    font-family: 'CastledownHeavy';
    font-size: 20px;
   -webkit-box-shadow: 10px 10px 23px -9px rgba(219,219,219,1);
-moz-box-shadow: 10px 10px 23px -9px rgba(219,219,219,1);
box-shadow: 10px 10px 23px -9px rgba(219,219,219,1);
   background-color: #ffffff;
    padding-bottom:2px;
    
}

.portrait {
    width:60%;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}

.prekindergarden {
    color: #e4ff1a !important;
}

.kindergarden {
    color: #ffb800 !important;
}

.primary {
    color: #1be7ff !important;
}

